#div1{

	width: 278px;
	height: 207px;
	background:url(../images/1.png);

}

#div2{
	width: 278px;
	height: 40px;
	background:#0664d6 url(../images/2.png) no-repeat 229px 8px;
	border-bottom:2px solid #10259a; 
}

#div3{
	width: 278px;
	height: 40px;
	background:#0768d9 url(../images/3.png) no-repeat 229px 8px;
	border-top: 2px solid #04abf2;
	border-bottom:2px solid #10259a;
}

#div4{
	width: 278px;
	height: 40px;
	background:#066bdd url(../images/4.png) no-repeat 229px 8px;
	border-top: 2px solid #04abf2;
}